*{
  margin:0;
  padding:0;
}

.container{

}

.topbar{
  color:red;
  width: 100%;
  height:30px;
  border: 1px solid black;
  display:flex;
  justify-content: space-between;
}

.body{
  display: flex;
  flex-direction: row;
}

.dir{
  flex:1;
}

.content{
  flex:5;
}
